body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background-color: papayawhip;
}

.meeting {
    border: 2px solid peachpuff;
    margin: 0.5em;
    padding: 0.2em 0.5em;
}

.info {
  border: 2px solid maroon;
  padding: 0.5em;
  background-color: brown;
  color: papayawhip;
}
