body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background-color: thistle;
}

.meeting {
    border: 2px solid plum;
    margin: 0.5em;
    padding: 0.2em 0.5em;
}

.info {
  border: 2px solid maroon;
  padding: 0.5em;
  background-color: brown;
  color: papayawhip;
}

.header {
    border: 4px solid indigo;
    padding: 0.5em;
    background-color: purple;
    color: thistle;
}