{% extends "layout.html" %}

{% block title %}Käsityökerho{% endblock %}

{% block content %}
<h2>Tapaamisen tietojen muokkaus</h2>
<form action="/update_meeting" method="post">
  <p>
    <label for="topic">Aihe:</label> <br />
    <input type="text" name="topic" id="topic" value="{{ meeting.topic }}" maxlenght="50" required />
  </p>
  <p>
    <label for="description">Kuvaus:</label> <br />
    <textarea name="description" id="description" rows="8" cols="60" maxlenght="1000">{{ meeting.description }}</textarea>
  </p>
  <p>
    <label for="date">Päivämäärä:</label> <br />
    <input type="date" name="date" id="date" value="{{ meeting.date }}" required />
  </p>
  <p>
    <label for="start_time">Aloitusajankohta:</label> <br />
    <input type="time" name="start_time" id="start_time" value="{{ meeting.start_time }}" required />
  </p>
  <p>
    <label for="end_time">Lopetusajankohta:</label> <br />
    <input type="time" name="end_time" id="end_time" value="{{ meeting.end_time }}" required />
  </p>
  <input type="hidden" name="meeting_id" value="{{ meeting.id }}" />
  {% for class in all_classes %}
  <p>
    <label for="class{{ class }}">{{ class }}:</label> <br />
    <select name="classes" id="class{{ class }}">
      <option value="">(valitse)</option>
    {% for option in all_classes[class] %}
      {% if classes[class] == option %}
      <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endif %}
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Päivitä tietoja" />
</form>
<p>
  <a href="/meeting/{{ meeting.id }}">Takaisin</a>
</p>
{% endblock %}