{% extends "layout.html" %}

{% block title %}Käsityökerho{% endblock %}

{% block content %}
<h2>Tapaamiset</h2>


{% for meeting in all_meetings %}
<div class="meeting">
<a href="/meeting/{{ meeting.id }}">{{ meeting.topic }}</a> <br />
{{ meeting.date }} klo {{meeting.start_time }}-{{ meeting.end_time }} <br />
Järjestäjä: {{ meeting.username }} <br />
</div>
{% endfor %}

<p>
  <a href="/{{ page - 1 }}">&lt;&lt;</a>
  Sivu {{ page }}/{{ page_count }}
  <a href="/{{ page + 1 }}">&gt;&gt;</a>
</p>
{% endblock %}