{% extends "layout.html" %}

{% block title %}Käsityökerho{% endblock %}

{% block content %}
<h2>Uusi tapaaminen</h2>
<form action="/create_meeting" method="post">
  <p>
    <label for="topic">Aihe:</label> <br />
    <input type="text" name="topic" id="topic" maxlength="50" required />
  </p>
  <p>
    <label for="description">Kuvaus:</label> <br />
    <textarea name="description" id="description" rows="8" cols="60" maxlength="1000" required></textarea>
  </p>
  <p>
    <label for="date">Päivämäärä:</label> <br />
    <input type="date" name="date" id="date" required />
  </p>
  <p>
    <label for="start_time">Aloitusajankohta:</label> <br />
    <input type="time" name="start_time" id="start_time" required />
  </p>
  <p>
    <label for="end_time">Lopetusajankohta:</label> <br />
    <input type="time" name="end_time" id="end_time" required />
  </p>
  {% for class in classes %}
  <p>
    <label for="class{{ class }}">{{ class }}:</label> <br />
    <select name="classes" id="class{{ class }}">
      <option value="">(valitse)</option>
    {% for option in classes[class] %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Järjestä tapaaminen" />
</form>
{% endblock %}