{% extends "layout.html" %}

{% block title %}Käsityökerho{% endblock %}

{% block content %}
<h2>{{ meeting.topic }}</h2>
{% if session.user_id == meeting.user_id %}
<p>
  <a href="/edit_meeting/{{ meeting.id }}">Muokkaa</a>
  <a href="/remove_meeting/{{ meeting.id }}">Poista</a>
</p>
{% endif %}
<div>
{{ meeting.description }}
</div>
<div>
{{ meeting.date }} klo {{ meeting.start_time }}-{{ meeting.end_time }}
</div>
<div>
Tapaamisen järjestäjä: <a href="/user/{{ meeting.user_id }}">{{ meeting.username }}</a>
</div>
{% if classes %}
  {% for class in classes %}
  <div>
  {{ class.value }}
  </div>
  {% endfor %}
{% endif %}
<p>
  {% if participants %}
    <h3>Osallistujat</h3>
    {% for participant in participants %}
    <div>
    <a href="/user/{{ participant.user_id }}">{{ participant.username }}</a>
    </div>
    {% endfor %}
  {% endif %}
</p>
{% if session.user_id %}
<form action="/participate" method="post">
  <input type="hidden" name="meeting_id" value="{{ meeting.id }}">
  <input type="submit" value="Osallistu" />
</form>
<form action="/cancel_participation" method="post">
  <input type="hidden" name="meeting_id" value="{{ meeting.id }}">
  <input type="submit" value="Peru osallistuminen" />
</form>
{% endif %}
<p>
  <a href="/">Etusivulle</a>
</p>
{% endblock %}